aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
async-timeout==5.0.1
attrs==25.3.0
charset-normalizer==3.4.1
contourpy==1.3.2
cramjam==2.10.0
cycler==0.12.1
fastparquet==2024.11.0
fonttools==4.57.0
frozenlist==1.6.0
fsspec==2025.3.2
idna==3.10
kiwisolver==1.4.8
matplotlib==3.10.1
msgpack==1.1.0
multidict==6.4.3
numpy==2.2.5
packaging==25.0
pandas==2.2.3
pillow==11.2.1
propcache==0.3.1
py4j==0.10.9.7
pyarrow==19.0.1
pyparsing==3.2.3
PyQt6==6.9.0
PyQt6-Qt6==6.9.0
PyQt6_sip==13.10.0
pyspark==3.5.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyVTK==0.5.18
six==1.17.0
tzdata==2025.2
vtk==9.4.2
wslink==2.3.3
yarl==1.20.0
